#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

form {
  width: 60%;
}

form input {
  display: block;
  width: calc(100% - 2 * 1rem);
  padding: 0.5rem;
  margin: 1rem;
  box-shadow: 1px 1px 5px rgba(0,0,0,.5);
  box-sizing: border-box;
}
